.cereals-container {
  padding: 10px;
  background-color: #a1a1a1;
}

.cereals-container h2 {
  color: #242424;
  font-size: 1.5rem; /* Slightly smaller font size */
}

.search-bar {
  width: 100%; /* Full width */
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #3498db;
  border-radius: 4px;
  background-color: #fdfdfd;
  color: #000000;
  font-size: 1rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Fit as many columns as possible */
  gap: 1px;
}

.product-card {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 1px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h3 {
  font-size: 1rem; /* Smaller font size */
  margin: 10px 0;
}

.product-card .product-price,
.product-card .product-quantity,
.product-card .quantity-controls {
  font-size: 1rem; /* Smaller font size */
  margin: 5px 0;
}

.quantity-controls button {
  padding: 5px 10px;
  font-size: 0.9rem;
}

.add-to-bucket,
.cart-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 5px 0;
}

.add-to-bucket:hover,
.cart-btn:hover {
  background-color: #45a049;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .product-card {
    padding: 5px;
  }
  
  .product-card h3 {
    font-size: 0.9rem; /* Further reduce font size on very small screens */
  }

  .product-card .product-price,
  .product-card .product-quantity,
  .product-card .quantity-controls {
    font-size: 0.8rem; /* Further reduce font size */
  }

  .quantity-controls button {
    padding: 4px 5px;
    font-size: 1.9rem;
  }

  .add-to-bucket,
  .cart-btn {
    padding: 6px;
    font-size: 0.9rem;
  }
}



  
  
  
  
  