/* Vegetables.css */
.vegetables-container {
  padding: 10px;
  background-color: #fcb8cc50;
}

.ready-made-button {
  background-color: #ff7f50; /* Coral color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ready-made-button:hover {
  background-color: #490c0c; /* Tomato color */
  transform: scale(1.05);
}

.ready-made-button:active {
  background-color: #ff4500; /* OrangeRed color */
  transform: scale(0.95);
}

/* Vegetables.css */


/* Search bar styling */
.search-bar {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

